*.pyc
__pycache__
.python-version
*.log
*.egg-info
.idea/
.cache/
.initialized
*.retry

node_modules

src/frontend/static
*.sqlite3
*.retry
__pycache__

.ropeproject
.cache
node_modules

src/frontend/static

public/static
